{% import '../macros.twig' as macros %}

{% set jobs = [
  {
    name: 'Rambler, Lenta.ru',
    href: 'https://lenta.ru/',
    link: 'lenta.ru',
    position: 'Frontend-разработчик',
    start: 'Октябрь 2021',
    end: 'по&nbsp;наст. время',
    experience: '5&nbsp;месяцев',
    taskTitle: 'Чем я&nbsp;занимаюсь в&nbsp;ленте',
    tasks: [
      'Редизайн десктопной версии сайта',
      'Поддержка мобильной версии (React.js)',
      'Интеграция в&nbsp;проект сторонних сервисов&nbsp;&mdash; авторизация пользователя, метрики, озвучка текста, реклама, комментарии, шаринги',
      'Рефакторинг и&nbsp;оптимизация кода',
      'Git-flow',
      'Код ревью',
      'Jira, Kanban, Scrum и&nbsp;вообще Agile',
    ],
  },
  {
    name: 'iBrush',
    href: 'https://www.ibrush.ru/',
    link: 'ibrush.ru',
    position: 'Frontend-разработчик',
    start: 'Апрель 2021',
    end: 'Сентябрь 2021',
    experience: '6 месяцев',
    taskTitle: 'Чему я&nbsp;занимался в&nbsp;студии',
    tasks: [
      'Разработка и&nbsp;поддержка проектов с&nbsp;обширным стеком технологий',
      'Создание и&nbsp;конфигурация систем сборки фронтенда',
      'Декомпозиция и&nbsp;оценка задач, логирование времени',
      'Быстрое переключение между задачами',
      'Взаимодействие с&nbsp;коллегами и&nbsp;совместное принятие решений',
      'Поддержка и&nbsp;рефактор легаси-кода',
    ],
  },
  {
    name: 'HTML Academy',
    href: 'https://htmlacademy.ru/profile/etpotato',
    link: 'htmlacademy.ru',
    position: 'Frontend-разработчик студент',
    start: 'Сентябрь 2020',
    end: 'Март 2021',
    experience: '6 месяцев',
    taskTitle: 'Чем я&nbsp;научился в&nbsp;академии',
    tasks: [
      'Работа с&nbsp;макетами Figma/PS',
      'Семантическая, кроссбраузерная вёрстка',
      'Адаптивная вёрстка и&nbsp;автоматизация',
      'Разработка веб-интерфейсов на&nbsp;JavaScript',
    ],
  },
]%}

<section class="page__section js-nav-section" id="resume">
  <div class="section resume">
    <div class="section__content resume__content">
      <div class="resume__title-wrap">
        <h2 class="resume__title h2">Опыт работы</h2>
        <p class="resume__experience p2 js-timer" data-timer-start="2021-04">1 год</p>
      </div>
      <ul class="resume__list">
        {% for job in jobs %}
          <li class="resume__item">
            <h3 class="resume__item-title p1">{{ job.name }}</h3>
            {{ macros.extlink('resume__item-link p2', job.href, job.link) }}
            <p class="resume__position p1">{{ job.position }}</p>
            <p class="resume__time p2">
              <span class="resume__time-boundaries">
                <span class="resume__time-boundary">{{ job.start }}&nbsp;&mdash;</span>
                <span class="resume__time-boundary">{{ job.end }}</span>
              </span>
              {% if loop.first %}
                <span class="resume__time-experience js-timer" data-timer-start="2021-10">
              {% else %}
                <span class="resume__time-experience">
              {% endif %}
              {{ job.experience }}</span>
            </p>
            <div class="resume__task-wrap js-dropdown">
              <button
                class="resume__task-button js-dropdown-button active"
                id="resume-task-button-{{ loop.index }}"
                aria-controls="resume-task-list-{{ loop.index }}"
                aria-expanded="true"
                type="button">
                <span class="resume__task-button-text p2">{{ job.taskTitle }}</span>
              </button>
              <div
                class="resume__task-list-wrap js-dropdown-content"
                id="resume-task-list-{{ loop.index }}"
                aria-labelledby="resume-task-button-{{ loop.index }}"
                aria-hidden="false">
                <ul class="resume__task-list">
                  {% for task in job.tasks %}
                    <li class="resume__task-item p2">{{ task }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="resume__link-wrap">
        {{ macros.extlink('resume__link p2', 'https://hh.ru/resume/e2a4d560ff08e782840039ed1f62357241794f', 'Резюме на&nbsp;хэдхантере') }}
      </div>
    </div>
  </div>
</section>
